/data/
/backup/
code/admin/frontend/node_modules/
/code/admin/static/assets/
code/admin/frontend/dist/
__pycache__/
*.pyc
.env
compose.yml
copycord-standalone/**
copycord-standalone/*
!copycord-standalone/install_standalone.py
!copycord-standalone/README_STANDALONE.md
!copycord-standalone/run_copycord_linux.sh
!copycord-standalone/run_copycord_windows.bat
!copycord-standalone/update_standalone.py