/data/
/backup/
code/admin/frontend/node_modules/
/code/admin/static/assets/
code/admin/frontend/dist/
__pycache__/
*.pyc
.env
compose.yml
copycord-standalone/copycord/**
copycord-standalone/copycord/*
!copycord-standalone/copycord/install_standalone.py
!copycord-standalone/copycord/README_STANDALONE.md
!copycord-standalone/copycord/update_standalone.py