/data/
/backup/
code/admin/frontend/node_modules/
/code/admin/static/assets/
code/admin/frontend/dist/
__pycache__/
*.pyc
.env
compose.yml
install-tools/copycord/**
!install-tools/copycord/install.py
!install-tools/copycord/install.exe
!install-tools/copycord/README.md
!install-tools/copycord/update.py
!install-tools/copycord/update.exe