services:
  admin:
    image: ghcr.io/copycord/copycord:v2.8.1
    container_name: copycord-admin
    environment:
      - ROLE=admin
      # - PASSWORD=changeme # uncomment to enable password protection for the admin panel
    ports:
      - "8080:8080" # you can change this port if needed (ex: "9090:8080")
    volumes:
      - ./data:/data

  server:
    image: ghcr.io/copycord/copycord:v2.8.1
    container_name: copycord-server
    environment:
      - ROLE=server
    volumes:
      - ./data:/data
    depends_on:
      - admin

  client:
    image: ghcr.io/copycord/copycord:v2.8.1
    container_name: copycord-client
    environment:
      - ROLE=client
    volumes:
      - ./data:/data
    depends_on:
      - admin
